GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-2-preview'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=
PDF_PATH=
MODEL_STRATEGY=gemini
LLM_MODEL=gemini-3.1-flash-lite
LLM_TEMPERATURE=0.5